
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ImageQualityDiplom.iml
target/classes/controllers/MainController.class
target/classes/css/style.css
target/classes/dialogs/DialogManager.class
target/classes/fxml/mainframe.fxml
target/classes/fxml/webview.fxml
target/classes/html/help.html
target/classes/icons/question.png
target/classes/icons/server-client-exchange.ico
target/classes/icons/warning.png
target/classes/layout/Browser.class
target/classes/main/Main.class
